.custom-carousel {
    position: relative;
    width: 600px;
    height: 400px;
}


.carousel-slide {
    width: 100%;
    height: 100%;
    display: none;
}

.carousel-slide.active {
    display: block;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.carousel-caption {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
}